
.tab1, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    height: 40px;
  }
ol.alpha{
    list-style-type: lower-alpha;
  }

.colors{
  color:blue;
}
